################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamTracker2.0/TeamTracker2.0/.vshistory
